body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.pure-menu-item {
    height: unset;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link--hamburger {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link--hamburger {
    left: 150px;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
}
/*
All anchors inside the menu should be styled like this.
*/
#menu a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}
/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #333;
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #1f8dd6;
}
/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
    color: #fff;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link--hamburger {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.menu-link--hamburger:hover,
.menu-link--hamburger:focus {
    background: #000;
}

.menu-link--hamburger span {
    position: relative;
    display: block;
}

.menu-link--hamburger span,
.menu-link--hamburger span:before,
.menu-link--hamburger span:after {
    background-color: #fff;
    pointer-events: none;
    width: 100%;
    height: 0.2em;
}

.menu-link--hamburger span:before,
.menu-link--hamburger span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link--hamburger span:after {
    margin-top: 0.6em;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/

@media (min-width: 500em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link--hamburger {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link--hamburger {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

/*--------------- SIDEBAR STYLE */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100%;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }

}


    /* CUSTOM CSS*/
.nav_link--main {
    margin-bottom: 2rem;
}
.project--box {
    margin: 0;
    padding: .5rem;
    border-bottom: 1px solid blue;
    padding-left: 1.5rem;
}
.project--form {
    margin-bottom: 2rem;
}
.project--submit {
    background: none!important;
    color: inherit;
    border: none!important;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.project--input {
    background: transparent;
    border-radius: 7px;
    padding: 0;
    margin: 0;
    margin-left: -0.2rem;
    width: 80%;
    color: var(--first-color-light);
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    overflow: visible;
    outline: none;
    border: none;
}
.project--delete-form {
    position: relative;
    top: 0;
    left: 0;
}
.project--input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--first-color-light);
    opacity: 1; /* Firefox */
}
.project--submit-delete {
    position: absolute;
    margin: 0;
    display: inline;
    top: -2rem;
    left: 9.5rem;
}
.task--bi-trash {
    width: 15px;
}
.task--adder-btn {
    color: black;
    transition: .3s ease;
}
.task--adder-link,
.task--remover-link,
.task--adder-btn {
    height: 2.5rem;
    width: 2.5rem;
}
.task--adder-select {
    border: 2px solid black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.task--adder-check {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-59%, -50%);
    transition: 1s ease;
    opacity: 0;
}


.task--adder-link,
.task--remover-link {
    background: #fff;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: 0.25rem;
}

.task--adder-link-no-border {
    border: none;
}

.task--remover-link:hover {
    color: red;
}

.task--adder-btn:hover {
    color: #6eaef3;
}
.task--adder-select:hover {
    border: 2px solid #6eaef3;
}
.task--adder-select:hover .task--adder-check {
    opacity: 1;
}

.task--adder-select.selected  {
    background: green;
}
.task--adder-select.selected .task--adder-check {
    opacity: 1;
    color: white;
}

.task--adder-container {
    background-color: #ffffff;
    padding:0;
    border: 0;
}

.task--container-sub .input-group-append {
    margin-left: auto;
}
.screen {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;

}
.screen--main {
    width: 100%;
}
.screen--toolbar {
    width: 20%;
    opacity: 1;
    margin-left: 1rem;
    transition: width .5s cubic-bezier(.17,.67,.83,.67);
}
.screen--toolbar-hide {
    width: 0!important;
    opacity: 0!important;
    overflow: hidden;
    position: absolute;
}

.screen--toolbar article {
    min-height: 80vh;
}
.task--container {
    cursor: pointer;
}
.task--container:hover:not(:first-of-type){
    filter: brightness(80%);
}

.task--container.selected {
    background: blue;
    -moz-box-shadow: 0 0 5px #00e9ac;
    -webkit-box-shadow: 0 0 5px #00e9ac;
    box-shadow: 0px 0px 5px #00e9ac;
}

.section--content {
    margin-top: 2rem;
}
.task--adder-input {
    border-left: none;
}
.task--adder-input:focus {
    box-shadow: none;
    border-bottom: 1px solid blue;
}
.task--adder-input-empty {
    padding: 1.2rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.task--main {
    margin-left: 0.5rem;
}
.task--container-sub {
    display: flex;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.task--name {
    text-transform: capitalize;
    border-bottom: 1px solid gray;
}
.task--info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.task--info > * {
    margin-left: .2rem;
    font-size: .7rem;
}
.task--info > *:after {
    color: #c2c2c2;
    content: '\2022';
    margin: 0 6px;
}
.text-area-box {
    padding: 5px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px ridge  #ced4da;
    border-radius: 0.25rem;
    min-height: 5em;
    overflow: auto;
    font-size: .8rem;
}

.state-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.state--ball {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
    top: 0.5rem;
    left: 13rem;

}

.task--description-box {
    width: 100%;
    height: 150px;
    padding: 0.3rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: .9rem;
    resize: none;
}
.task--submit {
    font-size: 2rem;
    background: #00e9ac;
    height: 100%;
    width: 100%;
    color: black;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: .8s ease;
}
.task--submit svg {
    width: 3rem;
    height: 3rem;
    transition: .975s ease;
}
.task--submit:hover {
    background: #48ffce;
}
.task--submit:hover svg {
    color: #5b5b5b;
}

.form--custom-no-skeleton {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-block-end: unset;
    box-sizing: content-box;

}

.social--icons * {
    color: #00a0d2;
    font-size: 4rem;
}


/* USER LOGIN / SIGNUP */
/* BASIC */


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.oe_user_login_container {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 1rem;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    margin-top: 5rem;
    margin-left: 6rem;
}

.oe_user_login_container_footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.oe_user_login_sumbit  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.oe_user_login_sumbit:hover  {
    background-color: #39ace7;
}
.oe_user_login_sumbit:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.oe_user_login_input {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.oe_user_login_input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}
.oe_user_login_input::placeholder {
    color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after{
    width: 100%;
}

#icon {
    width:60%;
}
.logo-user-box {
    margin-bottom: 2.5rem;
    margin: 1rem;
    padding: 1rem;
}
.login--user {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    color: blue;

}

.dropdown--custom {
    position: relative;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    /*padding: 1rem;*/
}

.dropdown--custom-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: .5rem .8rem;
    z-index: 1000;
    font-size: 1rem;
    border-radius: 15px;
    color: black;
    position: absolute;
    top: 2rem;
    left: -12rem;
    /*display: block;*/
}

.dropdown--custom-content.show {
    display: block ;
}


.brand--app {
    margin-right: 1rem;
    font-size: 2rem;
    color: white;
}
.user--name {
    color: black;
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .screen--toolbar {
        width: 100%;
    }
}

@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .screen--toolbar {
        width:20%;
    }
}
